.header {
	box-shadow: 0 10px 30px rgb(209 213 223 / 50%);
	min-height: 100px;
	background-color: #fff;
}

.search {
	&__form {
		display: flex;
		margin: 0 auto;
		width: calc(100% - 1.5rem);
		padding: 0 10px;
		height: 100%;
	}

	&__input {
		flex: 1 1 auto;
		outline: none;
		border-width: 2px;
		border-style: solid;
		position: relative;
		z-index: 2;
		border-radius: 10px;
		padding: 10px 12px;
		line-height: 1rem;
		font-size: 1rem;

		&::placeholder {
			font-size: 1rem;
			color: #c9c9c9;
		}
	}

	&__btn {
		margin-left: -8px;
		border-radius: 0 10px 10px 0;
		padding: 7px 13px;
		span{
			top: -2px;

		}
	}
}
