@import "sass/custom";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	display: inline-block;
	text-decoration: none;
	color: #212529;
}

html {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #f4f7fd;
	width: 100%;
	height: 100vh;
}
